<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ritac.cpwater.mybatis.mapper.DevicesEventRecMapper">
  <resultMap id="BaseResultMap" type="cn.ritac.cpwater.mybatis.model.DevicesEventRec">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
	  <result column="device_num" jdbcType="VARCHAR" property="deviceNum" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="event_info" jdbcType="VARCHAR" property="eventInfo" />
    <result column="event_content" jdbcType="VARCHAR" property="eventContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
	<select id="get_eventList" resultType="cn.ritac.cpwater.web.dto.convert.EventVO">
		SELECT
		eve.*
		FROM cpwater_devices_event_rec eve
		WHERE 1=1
		<if test=" id > 0 ">
		  AND  dev.id = #{id}
		</if>
		GROUP BY eve.id
		ORDER BY eve.create_time DESC
	</select>
	
	<select id="get_eventTypeOfgroup" resultType="cn.ritac.cpwater.web.dto.convert.AiDiDoutVO">
	   SELECT 
		s.group_name name 
		,sum(1) value 
		,s.device_num deviceNum
		,s.descript
		FROM (
				SELECT
				gp.*
				,pm.param_value descript 
				,eve.event_info
				,gd.device_id
				,dev.device_num
				FROM cpwater_group gp
				INNER JOIN cpwater_group_device gd on  gp.id = gd.group_id
				INNER JOIN cpwater_devices_event_rec eve on gd.device_id=eve.device_id
				INNER JOIN cpwater_devices dev on dev.id=eve.device_id
				LEFT JOIN cpwater_params pm on eve.event_info = pm.param_key and pm.param_col='eventType'
				GROUP BY gp.id,eve.event_info,gd.device_id
			) s
		GROUP BY s.id,s.event_info
	</select>
	
	<select id="get_eventCountOfGroup" resultType="cn.ritac.cpwater.web.dto.convert.AiDiDoutVO">
		SELECT 
			s.group_name name 
			,sum(1) value 
			,'' descript
			FROM (
				SELECT
				gp.*
				,pm.param_value descript 
				,eve.event_info
				,gd.device_id
				FROM cpwater_group gp
				INNER JOIN cpwater_group_device gd on  gp.id = gd.group_id
				INNER JOIN cpwater_devices_event_rec eve on gd.device_id=eve.device_id
				LEFT JOIN cpwater_params pm on eve.event_info = pm.param_key and pm.param_col='eventType'
				GROUP BY gp.id,eve.event_info,gd.device_id
			) s
			GROUP BY s.id
	</select>
	
	<select id="get_eventCount" resultType="cn.ritac.cpwater.web.dto.convert.AiDiDoutVO">
		SELECT
			s.param_value name
			,sum(1) value
			,'' descript
			FROM(
			SELECT
			 eve.event_info
			,pm.param_value
			FROM cpwater_devices_event_rec eve
			INNER JOIN cpwater_params pm on pm.param_key = eve.event_info and pm.param_col= 'eventType'
			GROUP BY eve.event_info,device_id
			) s
			group by event_info
	</select>
</mapper>