<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ritac.cpwater.mybatis.mapper.DevicesMapper">
	<resultMap id="BaseResultMap"
		type="cn.ritac.cpwater.mybatis.model.Devices">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="device_num" jdbcType="VARCHAR"
			property="deviceNum" />
		<result column="device_key" jdbcType="VARCHAR"
			property="deviceKey" />
		<result column="device_model" jdbcType="VARCHAR"
			property="deviceModel" />
		<result column="longitude" jdbcType="VARCHAR"
			property="longitude" />
		<result column="dimension" jdbcType="VARCHAR"
			property="dimension" />
		<result column="position_des" jdbcType="VARCHAR"
			property="positionDes" />
		<result column="online" jdbcType="BIT" property="online" />
		<result column="online_time" jdbcType="TIMESTAMP"
			property="onlineTime" />
		<result column="offline_time" jdbcType="TIMESTAMP"
			property="offlineTime" />
		<result column="device_version" jdbcType="VARCHAR"
			property="deviceVersion" />
		<result column="soft_version" jdbcType="VARCHAR"
			property="softVersion" />
		<result column="isFault" jdbcType="BIT" property="isfault" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="slaveEntry" jdbcType="INTEGER"
			property="slaveentry" />
		<result column="slaveIDs" jdbcType="VARCHAR"
			property="slaveids" />
		<result column="voltage" jdbcType="REAL" property="voltage" />
		<result column="current" jdbcType="REAL" property="current" />
		<result column="firstLink" jdbcType="INTEGER"
			property="firstlink" />
		<result column="connForm" jdbcType="INTEGER"
			property="connform" />
		<result column="signalQuality" jdbcType="INTEGER"
			property="signalquality" />
		<result column="workingHours" jdbcType="BIGINT"
			property="workinghours" />
		<result column="networkingHours" jdbcType="BIGINT"
			property="networkinghours" />
		<result column="restartCount" jdbcType="INTEGER"
			property="restartcount" />
		<result column="keepAliveInterval" jdbcType="INTEGER"
			property="keepaliveinterval" />
		<result column="dataUpTime" jdbcType="INTEGER"
			property="datauptime" />
		<result column="firstServer" jdbcType="INTEGER"
			property="firstserver" />
		<result column="cpuTemper" jdbcType="INTEGER" property="cputemper" />
		<result column="ramProportion" jdbcType="INTEGER"
			property="ramproportion" />
		<result column="romProportion" jdbcType="INTEGER"
			property="romproportion" />
		<result column="cpuProportion" jdbcType="INTEGER"
			property="cpuproportion" />
		<result column="img" jdbcType="VARCHAR" property="img" />
		<result column="groupName" jdbcType="VARCHAR" property="groupName" />
	</resultMap>
	<resultMap id="devicesState"
		type="cn.ritac.cpwater.mybatis.model.DevicesState">
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="onnum" jdbcType="INTEGER" property="onnum" />
		<result column="offnum" jdbcType="INTEGER" property="offnum" />
	</resultMap>
	<resultMap id="DevicesDto"
			   type="cn.ritac.cpwater.web.dto.DevicesDto">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP"
				property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
				property="updateTime" />
		<result column="device_num" jdbcType="VARCHAR"
				property="deviceNum" />
		<result column="device_key" jdbcType="VARCHAR"
				property="deviceKey" />
		<result column="device_model" jdbcType="VARCHAR"
				property="deviceModel" />
		<result column="user_phone" jdbcType="VARCHAR"
				property="userphone" />
		<result column="longitude" jdbcType="VARCHAR"
				property="longitude" />
		<result column="dimension" jdbcType="VARCHAR"
				property="dimension" />
		<result column="position_des" jdbcType="VARCHAR"
				property="positionDes" />
		<result column="online" jdbcType="BIT" property="online" />
		<result column="online_time" jdbcType="TIMESTAMP"
				property="onlineTime" />
		<result column="offline_time" jdbcType="TIMESTAMP"
				property="offlineTime" />
		<result column="device_version" jdbcType="VARCHAR"
				property="deviceVersion" />
		<result column="soft_version" jdbcType="VARCHAR"
				property="softVersion" />
		<result column="isFault" jdbcType="BIT" property="isfault" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="slaveEntry" jdbcType="INTEGER"
				property="slaveentry" />
		<result column="slaveIDs" jdbcType="VARCHAR"
				property="slaveids" />
		<result column="voltage" jdbcType="REAL" property="voltage" />
		<result column="current" jdbcType="REAL" property="current" />
		<result column="firstLink" jdbcType="INTEGER"
				property="firstlink" />
		<result column="connForm" jdbcType="INTEGER"
				property="connform" />
		<result column="signalQuality" jdbcType="INTEGER"
				property="signalquality" />
		<result column="workingHours" jdbcType="BIGINT"
				property="workinghours" />
		<result column="networkingHours" jdbcType="BIGINT"
				property="networkinghours" />
		<result column="restartCount" jdbcType="INTEGER"
				property="restartcount" />
		<result column="keepAliveInterval" jdbcType="INTEGER"
				property="keepaliveinterval" />
		<result column="dataUpTime" jdbcType="INTEGER"
				property="datauptime" />
		<result column="firstServer" jdbcType="INTEGER"
				property="firstserver" />
		<result column="cpuTemper" jdbcType="INTEGER" property="cputemper" />
		<result column="ramProportion" jdbcType="INTEGER"
				property="ramproportion" />
		<result column="romProportion" jdbcType="INTEGER"
				property="romproportion" />
		<result column="cpuProportion" jdbcType="INTEGER"
				property="cpuproportion" />
		<result column="img" jdbcType="VARCHAR" property="img" />
		<result column="groupName" jdbcType="VARCHAR" property="groupName" />
	</resultMap>

	<select id="getDevice" resultMap="BaseResultMap">
		select * from cpwater_devices
		where device_num=#{deviceNum} and
		device_key=#{key}
	</select>
<!-- 更新新增在线设备数据库状态 -->
	<update id="saveStatusOnLine">
		update cpwater_devices SET online=1,online_time= #{nowTime}
		<if test="slaveId!=''">
			,slaveIDs=#{slaveId}
		</if>
		where device_num = #{device_id}
	</update>

	<!-- 更新新增离线设备数据库状态 -->
	<update id="saveStatusUnOnLine">
		update cpwater_devices set online=0 ,offline_time=#{nowTime}
		<if test="slaveId!=''">
			,slaveIDs=#{slaveId}
		</if>
		where device_num = #{device_id}
	</update>
	
	<select id="getUserDevicesState" resultMap="devicesState">
		SELECT * FROM v_devices_state_user_bind vcs
		<where>
			vcs.uid = #{uid}
		</where>
	</select>
	<delete id="delBindUserDev">
		DELETE FROM cpwater_user_devices_bind where device_id =
		#{device_id}
	</delete>

	<select id="findDeviceOfGroup" resultMap="BaseResultMap">
		SELECT
		md.*
		FROM
		cpwater_devices md
		INNER JOIN cpwater_group_device mgd on mgd.device_id =
		md.id
		WHERE mgd.group_id = #{groupId}
	</select>

	<select id="findDeviceOfRole" resultMap="BaseResultMap">
		SELECT
		DISTINCT
		md.*
		FROM
		cpwater_devices md
		INNER JOIN cpwater_role_device rd on rd.device_id =
		md.id
		INNER JOIN cpwater_role_group mgd on mgd.role_id = rd.role_id and
		rd.group_id = mgd.group_id
		WHERE
		1=1
		<if test="groupId != null">
			AND mgd.group_id = #{groupId}
		</if>
		<if test="roleId != null">
			AND rd.role_id = #{roleId}
		</if>

	</select>


	<select id="deviceProporList"
		resultType="cn.ritac.cpwater.web.dto.convert.ProporVO">
			SELECT
				 CASE dev.online WHEN 0 THEN '离线' ELSE (
				 CASE dev.online WHEN 1 THEN '在线' ELSE'' END
				) END name
				,COUNT(1) value
				,TRUNCATE(ROUND(COUNT(1) /s.num,3)*100,2) per 
			FROM cpwater_devices dev
			INNER JOIN (
			 SELECT COUNT(1) num FROM cpwater_devices
			) s on 1=1
			INNER JOIN cpwater_device_user cdu
			where cdu.device_num=dev.device_num
			and cdu.user_phone="15938815027"
			GROUP BY dev.online
			UNION
			SELECT
				k.name
				,COUNT(1) value
				,TRUNCATE(ROUND(COUNT(1) /s.num,3)*100,2) per
			FROM(
					SELECT
							t.device_id,
							'告警' name
					FROM cpwater_devices_event_rec t
					INNER JOIN cpwater_devices d on d.id = t.device_id
					WHERE t.create_time
					BETWEEN CAST(CAST(SYSDATE()AS DATE)AS DATETIME)
					AND NOW()
					GROUP BY t.device_id
			)k
			INNER JOIN (
			 SELECT COUNT(1) num FROM cpwater_devices
			) s on 1=1
	</select>
	
	<select id="eventProporList" resultType="cn.ritac.cpwater.web.dto.convert.ProporVO">
		select
		eve.event_content name,
		count(*) value,
		(SELECT COUNT(1) num FROM cpwater_devices_event_rec  WHERE create_time
		BETWEEN CAST(CAST(SYSDATE()AS DATE)AS DATETIME) AND NOW()) allNum
		from cpwater_devices_event_rec eve
		<if test="phone != null and phone.trim() != ''">
			LEFT JOIN cpwater_device_user cdu
			on cdu.device_num=eve.device_num
			where cdu.user_phone= #{phone}
		</if>
		GROUP BY eve.event_content
	</select>
	
	<select id="evenList" resultType="cn.ritac.cpwater.web.dto.convert.EventVO">
		select eve.id,
		eve.device_id deviceId,
		eve.device_num deviceNum,
		eve.event_info eventInfo,
		eve.event_content eventDescript,
		eve.create_time createTime
		from cpwater_devices_event_rec eve
		group by eve.create_time desc
	</select>

	<select id="evenListCut" resultType="cn.ritac.cpwater.web.dto.convert.EventVO">
		select eve.id,
		eve.device_id deviceId,
		eve.device_num deviceNum,
		eve.event_info eventInfo,
		eve.event_content eventDescript,
		eve.create_time createTime
		from cpwater_devices_event_rec eve
		<if test="phone != null and phone.trim() != ''">
			LEFT JOIN cpwater_device_user cdu
			on cdu.device_num=eve.device_num
			where cdu.user_phone= #{phone}
		</if>
		group by eve.create_time desc
		LIMIT 20
	</select>
		<!-- 获取新上报事件返回首页 -->
	<select id="evenNewListCut" resultType="cn.ritac.cpwater.web.dto.convert.EventVO">
		select eve.id,
		eve.device_id deviceId,
		eve.device_num deviceNum,
		eve.event_info eventInfo,
		eve.event_content eventDescript,
		eve.create_time createTime
		from cpwater_devices_event_rec eve
		<if test="length != null and length.trim() != '' || length != null and length.trim() != ''">
			LEFT JOIN cpwater_device_user cdu
			on cdu.device_num=eve.device_num
			where cdu.user_phone= #{phone}
		</if>
		group by eve.create_time desc
		LIMIT 20
	</select>

	
	<select id="findDeviceByCondition" resultMap="DevicesDto">
		SELECT
			dev.*,cdu.user_phone
			FROM cpwater_devices dev
			left join cpwater_device_user cdu on dev.device_num = cdu.device_num
			where 1=1
	</select>

	<select id="findDeviceByUser" resultMap="BaseResultMap">
		SELECT
			dev.*,cdu.user_phone
			FROM cpwater_devices dev
			LEFT JOIN cpwater_device_user cdu ON dev.device_num = cdu.device_num
			where 1=1
			AND cdu.user_phone = #{telePhone}
	</select>
	<select id="getDevicesNoPage" resultMap="BaseResultMap">
		SELECT
			dev.*
			FROM cpwater_devices dev
			<if test="phone != null and phone.trim() != ''">
			LEFT JOIN cpwater_device_user cdu
			on cdu.device_num=dev.device_num
			where cdu.user_phone= #{phone}
			</if>
	</select>
	
</mapper>