<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.ritac.cpwater.mybatis.mapper.WorkingHourMapper">
	<resultMap id="BaseResultMap"
		type="cn.ritac.cpwater.mybatis.model.WorkingHour">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="device_id" jdbcType="INTEGER"
			property="deviceId" />
		<result column="years" jdbcType="INTEGER" property="years" />
		<result column="months" jdbcType="INTEGER" property="months" />
		<result column="workingHours" jdbcType="BIGINT"
			property="workinghours" />
		<result column="hours" jdbcType="BIGINT" property="hours" />
		<result column="minutes" jdbcType="BIGINT" property="minutes" />
		<result column="networkingHours" jdbcType="BIGINT"
			property="networkinghours" />
		<result column="net_hours" jdbcType="BIGINT"
			property="netHours" />
		<result column="net_minutes" jdbcType="BIGINT"
			property="netMinutes" />
	</resultMap>

	<select id="countVoltnetPropor"
		resultType="cn.ritac.cpwater.web.dto.ContVoltnetPojo">
		SELECT
		g.group_name name
		,w.months
		,SUM(w.workingHours) electric
		,SUM(w.hours) ups_electric
		,SUM(w.networkingHours) net
		,SUM(w.net_hours) mobile_net
		FROM cpwater_workinghour w
		INNER JOIN cpwater_group_device gd ON
		w.device_id = gd.device_id
		INNER JOIN cpwater_group g ON gd.group_id =g.id
		GROUP BY g.id,w.months
		ORDER BY w.months
	</select>
	
	<update id="updateMinutesByYearMonth">
		UPDATE cpwater_workinghour  wh set wh.minutes = #{minutesCount} WHERE wh.years = #{tmp_years} AND wh.months = #{tmp_months}
	</update>
</mapper>